{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "YOUR_FIREBASE_PROJECT_ID"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:REPLACE_ME",
        "android_client_info": {
          "package_name": "com.seemebetter.admin"
        }
      },
      "api_key": [
        {
          "current_key": "REPLACE_ME"
        }
      ]
    }
  ],
  "configuration_version": "1"
}

